.App {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magic {

    background: #176387;
    color: #fff;
    width: 150px;
    border: 3px solid #2BA2DB;
    text-align: center;
    opacity: 0;
    transition: 1s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 300ms;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper {
    height: 500px;
    overflow-y: auto
}

